@font-face {
  font-family: 'Bebas';
  src: url('Font/Bebas.ttf') format('woff2'),
}

@font-face {
  font-family: 'Futura';
  src: url('Font/Futura.ttf') format('woff2'),
}

body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #9AD0C2;
      color: #333;
    
}

header {
      background-color: #ECF4D6;
      color: black;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 2px;
      display: flex;
      align-items: center;
      max-heigth: 100px;
      min-height: 100px;
      
}


#text {
  font-family: 'Bebas', sans-serif;
  line-height: 1;
  color: white;
  text-align: center;
  font-size: 50px;
}

#m_text {
  font-family: 'Futura', sans-serif;
  text-align: center;
  font-size: 25px;
  margin-top: -23px;
}


#hobby {
  text-align: center;
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}


ol {
  font-family: 'Bebas', sans-serif;
  color: white;
  line-height: 1.6;
  margin-top: -2;
  font-size: 20px;
  list-style-type:none;
  text-align: center;
  margin-right: 44px;
}


#Quote {
  font-family: 'Bebas', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

.content-container {
      display: flex;
      justify-content: center;
}

img {
      max-width: 100%;
      height: 600px;
      margin-left: auto;
      margin-top: 60px;
      display: block;
      border-radius: 120px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px;
}

section {
      max-width: 1000px;
      max-height: 360px;
      margin-left: 100px;
      margin-right: auto;
      margin-top: 145px;
      padding: 40px;
      background-color: #2D9596;
      border-radius: 50px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


#s_another {
      max-width: 1000px;
      max-height: 100%;
      min-height: 320px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      padding: 40px;
      background-color: #2D9596;
      border-radius: 50px;
      display: block;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#s_another1 {
      max-width: 1000px;
      max-height: 100%;
      min-height: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      padding: 40px;
      background-color: #2D9596;
      border-radius: 50px;
      display: block;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#s_quote {
      max-width: 270px;
      min-height: 10px;
      max-height: 170px;
      padding: 40px;
      margin-top: 85px;
      background-color: #2D9596;
      border-radius: 50px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#s_about {
      max-width: 900px;
      max-height: 100%;
      min-height: 160px;
      margin-top: 40px;
      padding: 40px;
      background-color: #2D9596;
      border-radius: 50px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#s_hobby {
      max-width: 220px;
      min-width: 200px;
      min-height: 50px;
      max-height: 250px;
      padding: 40px;
      margin-top: 68px;
      background-color: #2D9596;
      border-radius: 50px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button-container {
      text-align: center;
      margin-top: 20px;
    }

#nav { 
      font-family: "Futura", sans-serif;
      width: 200px;
      display: block;
      background-color: #265073;
      border: 2px solid #422800;
      border-radius: 0px;
      box-shadow: #422800 4px 4px 0 0;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      margin: auto;
      padding: 30px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      touch-action: manipulation;
     }

#nav:hover {
      background-color: #9AD0C2;
     }

#nav:active {
      box-shadow: #422800 2px 2px 0 0;
      transform: translate(2px, 2px);
     }

ul {
  top:50%;
  left:50%;
  margin:0;
  margin-top: -9px;
  padding:0;
  display:flex;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

ul li a .fab {
  widht: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

ul li:nth-child(2) a:hover .fab {
  color: white;
}

ul li:nth-child(3) a:hover .fab {
  color: #1DB954;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;=
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #9AD0C2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: #2D9596;
  color: white;
}