.wrapper {
  display: grid;
  place-items: center;
}

.wrapper2 {
  display: grid;
  place-items: left;
}

.wrapper3 {
  display: grid;
}

.typing-demo {
  width: 20ch;
  animation: typing 2s, blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
}

.typing-demo2 {
  width: 120ch;
  animation: typing 4.2s, blink .100s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}


.typing-demo3 {
  width: 20ch;
  animation: typing 2s, blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }
}

