.animated-text{
    font-family: 'Bebas', sans-serif;
    margin-top: -40px;
    font-size: 31px;
    font-weight: 600;
    min-width: 280px;
    color: white;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Student";
    color: midnightblue;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 1px);
    height: 100%;
    background-color: #2D9596;
    border-left: 2px solid white;
    right: -10px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid black;
    }
}

@keyframes words {
    0%,20%{
        content: "Im A Aspiring Backend Developer";
    }
    21%,40%{
        content: "Im A Student";
    }
    41%,60%{
        content: "Im A Adict Gamer";
    }
    61%,80%{
        content: "Im A Friend";
    }
    81%,100%{
        content: "I Am Me";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}
